<div class="wrapper container images">
  <a href="https://www.facebook.com/Defensa-Terrestre-104019528562047" target="_blank">
  <div class="smol">
    <img src="./assets/Facebook.png" alt="">
  </div>
</a>
<a href="https://www.instagram.com/defensa_terrestre/" target="_blank">
  <div class="smol">
    <img src="./assets/Instagram.png" alt="">
  </div>
</a>
  <a href="https://twitter.com/DTerrestre" target="_blank">
  <div class="smol">
    <img src="./assets/Twtiter.png" alt="">
  </div>
</a>
</div>
